<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - M.EDDY</title>

    <!-- Favicon -->
    <link rel="icon" href="/assets/favicon.png" type="image/png">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- JS -->
    <script src="/js/main.js" defer></script>

</head>
<body>
<!--=================== Header ====================-->
<header id="_header">
    <div class="header-container">
        <a href=""><img src="" alt="logo"></a>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        <div id="social_media">
            <a href=""><img src="" alt="facebook"></a>
            <a href=""><img src="" alt="instagram"></a>
            <a href=""><img src="" alt="linkedin"></a>
        </div>
    </div>
</header>

<!--=================== Main ====================-->
<main id="_main">
    <!--=================== Home ====================-->
    <section id="home">

    </section>

    <!--=================== About ====================-->
    <section id="about">


    </section>

    <!--=================== Services ====================-->
    <section id="services">


    </section>

    <!--=================== Portfolio ====================-->
    <section id="portfolio">


    </section>

    <!--=================== Contact ====================-->
    <section id="contact">


    </section>

</main>
<!--=================== footer ====================-->
<footer id="_footer">

</footer>


</body>
</html>